
a{
    text-decoration: none;
    color: currentColor;
}
ul,ol{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--resetting--*/




.main-header{
    max-width: 900px;
    font-size: smaller;
    background-image: url(./imgs/jumbo.png);
    background-size: 900px 150px;
    background-repeat: no-repeat;
    color: white;
}
.navbar{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.main-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login{
    display: flex;
    align-items: center;
    border: 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*--heading section--*/


/*--section--*/

.row{
    display: flex;
    justify-content: center;
    width: 900px;
}
.col{
    text-align: center;
    font-size: small;
    font-weight: lighter;
    width: 500px;
    height: 150px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.Mac{
    border: 1px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 3px;
    margin: 16px;
}
.browser{
    border: 1px;
    border-radius: 10px;
    background-color: black;
    padding: 3px;
    margin: 16px;
}

/*--section main--*/


.row-2{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     width: 900px;
     height: 150px;
}
.imgs{
    width: 230px;
    height: 150px;
    margin-left: 150px;
}
.pg{
    width: 170px;
    height: 124px;
    margin-right: 150px;
}
.letters{
    font-size: x-small;
}
/*--added new classes name--*/

/*--section--*/
.row-2-reverse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    height: 150px;
    background-color: lightgray;
}
.pg-2{
    width: 170px;
    height: 124px;
}
.heading{
    margin-bottom: 2px;
    margin-top: 5px;
}
.letters-2{
    font-size: x-small;
}
.img-b{
    width: 230px;
    height: 150px;
}

/*--section--*/


.rowC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    width: 900px;
    height: 150px;
    background-color: white;
}
.col5{
    border: 2px dotted black;
    width: 25%;
    height: 120px;
    background-color: skyblue;
    margin-top: 15px;
    margin-bottom: 15px;
}
.col6{
    border: 2px dotted black;
    width: 20%;
    height: 120px;
    background-color: lightcoral;
    margin-top: 15px;
    margin-bottom: 15px;
}
.rowD{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    width: 900px;
    height: 300px;
    background-color: grey;
}
.col7{
    border: 2px dotted black;
    width: 45%;
    height: 240px;
    background-color: green;
    margin-top: 30px;
    margin-bottom: 30px;
}
 /*--section column--*/
 .rowE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    width: 900px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.704);
 }
 .col8{
    border: 2px dotted black;
    width: 15%;
    height: 120px;
    background-color: palevioletred;
    margin-top: 5px;
    margin-bottom: 15px;
 }
 .col9{
    border: 2px dotted white;
    width: 7.5%;
    height: 120px;
    background-color:rgb(0, 180, 168);
    margin-top: 5px;
    margin-bottom: 15px;
 }
 .col10{
    border: 2px dotted white;
    width: 7.5%;
    height: 120px;
    background-color:rgb(0, 180, 168);
    margin-top: 5px;
    margin-bottom: 15px;
 }
 .col11{
    border: 2px dotted white;
    width: 7.5%;
    height: 120px;
    background-color:rgb(0, 180, 168);
    margin-top: 5px;
    margin-bottom: 15px;
 }
 .col12{
    border: 2px dotted white;
    width: 7.5%;
    height: 120px;
    background-color:rgb(0, 180, 168);
    margin-top: 5px;
    margin-bottom: 15px;
 }
 /*--footer section--*/

 .containerG{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    width: 900px;
    height: 35px;
    background-color:rgba(0, 0, 0, 0.704);
 }
 .rowG{
    border: 2px solid black;
    width: 900px;
    height: 25px;
    background-color: rgb(144, 238, 177);
    margin-top: 5px;
    margin-bottom: 0px;
}

.col13{
    border: 2px dotted black;
    width: 8%;
    height: 15px;
    background-color: pink;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 95%
}
.col14{
    border: 2px dotted black;
    width: 8%;
    height: 15px;
    background-color: pink;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 95%
}
.rowG *{
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
